### STRING EXERCISES

1. Write a Python program to count the number of characters in a string.

In [1]:
string = "I am playing"

In [2]:
len(string)

12

2.Write a Python program to reverse a string.

In [3]:
string = "Hello World"

In [4]:
string[::-1]

'dlroW olleH'

3. Write a Python program to check if a string is a palindrome.

In [5]:
string = "madam"
reversed_string = string[::-1]

if string == reversed_string:
    print(f"'{string}'word is a palindrome.")
else:
    print(f"'{string}'word is not a palindrome.")

'madam'word is a palindrome.

4. Write a Python program to remove all the vowels from a string.

In [6]:
str = "string"
vowels = "a,e,i,o,u,A,E,I,O,U"

for i in str:
    if i in vowels:
        str = str.replace(i,"")

print(str)

strng

5. Write a Python program to find the first non-repeating character in a string.

In [7]:
def found(s):
    for i in s:
        if s.count(i) == 1:
            return i
    return -1

string = "found me if you can"
result = found(string)
if result:
    print(f"first non-repeating char in the string is: {result}")
else:
    print("no found any")

first non-repeating char in the string is: d

6. Write a Python program to capitalize the first letter of each word in a string.

In [8]:
string = "coding things"
print(string.title())

Coding Things

7. Write a Python program to check if a string is an anagram of another string.

In [9]:
a = input("enter first string :")
b = input("enter second string :")

if(sorted(a) == sorted(b)):
    print("strings are anagram")
else:
    print("strings are anagram")

enter first string :fgbg
enter second string :hthbthrn
strings are anagram

8. Write a Python program to find the most frequent character in a string.

In [12]:
from collections import Counter

string = "aabbcccdddd"

char_count = Counter(string)

most_common = char_count.most_common(1)

if most_common:
    char, count = most_common[0]
    print(f"The most frequent character is '{char}' with a count of {count}.")
else:
    print("The input string is empty.")

The most frequent character is 'd' with a count of 4.

In [13]:
from collections import Counter
string = "aabbccdddd"

char_count = Counter(string)

most_common = char_count.most_common(1)

print(most_common)

[('d', 4)]

9. Write a Python program to check if a string is a valid email address.

In [14]:
import re

email = "khantabssum851@gmail.com"

email_pattern = r'^[\w\.-]+@[\w\.-]+\.\w+'

if re.match(email_pattern, email):
    print(f"{email} is valid email_id")
else:
    print(f"{email} is invalid email_id")

khantabssum851@gmail.com is valid email_id

10. Write a Python program to find the length of the longest substring without repeating characters.

In [15]:
def longest_substring_length(s):
    if not s:
        return 0

    char_index = {}
    max_length = 0
    start = 0 

    for end in range(len(s)):
        if s[end] in char_index and char_index[s[end]] >= start:
            start = char_index[s[end]] + 1

        char_index[s[end]] = end
        max_length = max(max_length, end - start + 1)

    print(max_length)

input_string = "sdfbehifgehfbkjfv"

result = longest_substring_length(input_string)
result

# need more understanding about this example

7

### LIST EXERCISES

1. Write a Python program to find the sum of all elements in a list.

In [32]:
numbers = [1, 2, 7, 4, 5, 6, 5, 8, 9, 11]

sum = 0
for i in numbers:
    sum = sum+i
    print(sum)

1
3
10
14
19
25
30
38
47
58

2. Write a Python program to find the maximum and minimum elements in a list.

In [10]:
list = [12, 45, 6, 23, 67, 3, 89, 54]

max_value = max(list)
min_value = min(list)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 89
Minimum value: 3

3. Write a Python program to remove duplicates from a list.

In [37]:
my_list = [1, 2, 2, 3, 4, 4, 5]

my_list = (set(my_list))

print(my_list)

{1, 2, 3, 4, 5}

4. Write a Python program to check if a list is sorted in ascending order.

In [44]:
list = [1,8,3,4,5,6]
tlist = list[:]
list.sort()
if tlist == list:
    print("list is in ascending order")
else:
    print("list is not in ascending order")

list is not in ascending order

5. Write a Python program to find the second largest element in a list.

In [1]:
list = [10,45,23,78,45,77]
list.sort()
element = list[1]

print("second largest element is : ",element)

second largest element is :  23

6. Write a Python program to sort a list of strings in alphabetical order.

In [3]:
string = ["banana", "apple", "cherry", "date", "grape"]
string.sort()
print(string)

['apple', 'banana', 'cherry', 'date', 'grape']

7. Write a Python program to find the common elements between two lists.

In [4]:
a = "America"
b = "India"

common = set(a) & set(b)
print(common)

{'a', 'i'}

8. Write a Python program to remove the nth occurrence of an element from a list.

In [10]:
list = ["geeks", "for", "geeks"]
word = "geeks"
n = 2

count = 0

for i in range(0,len(list)):
    if(list[i] == word):
        count = count+1
        if (count == n):
            del list[i]

print(list)

['geeks', 'for']

9. Write a Python program to find the difference between two lists.

In [20]:
list1 = [1,2,3,4]
list2 = [2,4,6,8,9]

list3 = set(list1).symmetric_difference(set(list2))

print(list3)

{1, 3, 6, 8, 9}

10. Write a Python program to remove the elements of a list that are divisible by 3.

In [2]:
def remove_elements_divisible_by_3(input_list):
    result_list = list(filter(lambda x: x % 3 != 0, input_list))
    return result_list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = remove_elements_divisible_by_3(my_list)

print("Original list:", my_list)
print("List after removing elements divisible by 3:", result)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
List after removing elements divisible by 3: [1, 2, 4, 5, 7, 8]

### TUPLE EXCERCISES

1. Write a Python program to find the length of a tuple.

In [3]:
tuple = (1,2,3,4,5,6,7)
print(len(tuple))

7

2. Write a Python program to concatenate two tuples.

In [9]:
t1 = (1,2,3,4,5)
t2 = ('Amit','Ramesh')

print(t1+t2)

(1, 2, 3, 4, 5, 'Amit', 'Ramesh')

3. Write a Python program to convert a tuple to a list.

In [1]:
tuple = ('Ram','Shyam','Teena','Rahul')
convert_into_list = list(tuple)
print(convert_into_list)

['Ram', 'Shyam', 'Teena', 'Rahul']

4. Write a Python program to find the index of an element in a tuple

In [2]:
cars = ('Audi','BMW','Tesla','Ferrari')
print(cars.index('BMW'))

1

5. Write a Python program to check if an element exists in a tuple.

In [6]:
mylist = ['a','b','c','d']

element = input("enter element to check existance in list : ")

if element in mylist:
    print(element,"exist in the list")
else:
    print(element,"not exist in the list")

enter element to check existance in list : f
f not exist in the list

6. Write a Python program to count the number of occurrences of an element in a tuple.

In [4]:
tuple = (10,45,82,82,10,10,10)
tuple.count(10)

4

7. Write a Python program to find the maximum and minimum elements in a tuple.

In [5]:
tuple = (23,87,54,90,0,100,21)
print(tuple)

print(min(tuple))
print(max(tuple))

(23, 87, 54, 90, 0, 100, 21)
0
100

8. Write a Python program to reverse a tuple.

In [7]:
tuple = (900,352,763,123,876,823)

tuple[::-1]

(823, 876, 123, 763, 352, 900)

9. Write a Python program to check if all elements in a tuple are the same.

In [4]:
my_tuple = (2, 0, 2, 2)

all_elements_same = all(x == my_tuple[0] for x in my_tuple)

if all_elements_same:
    print("All elements in the tuple are the same.")
else:
    print("all elements in the tuple are not same.")

all elements in the tuple are not same.

10. Write a Python program to create a new tuple with the elements from two existing tuples.

In [7]:
tuple1 = ('Ram','Shyam','Amar','Anthony')
tuple2 = (4,5,6)

new_tuple = tuple1 + tuple2

print("New Tuple (Concatenated):", new_tuple)

New Tuple (Concatenated): ('Ram', 'Shyam', 'Amar', 'Anthony', 4, 5, 6)

### SET EXCERCISES

1. Write a Python program to find the union of two sets.

In [9]:
set1 = {100,200,300,400}
set2 = {'Ram','Shyam','Amar'}
print(set1.union(set2))

{400, 'Ram', 'Shyam', 100, 'Amar', 200, 300}

2. Write a Python program to find the intersection of two sets.

In [10]:
set1 = {1,2,3,4,5}
set2 = {4,6,8,10,11}

print(set1.intersection(set2))

{4}

3. Write a Python program to check if a set is a subset of another set.

In [13]:
set1 = {1,2,3,4,5}
set2 = {4,9}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is not a subset of set1.

4. Write a Python program to remove duplicate elements from a set.

In [14]:
my_set = {1, 2, 2, 3, 4, 4, 5, 5}

unique_set = set(my_set)
print(unique_set)

{1, 2, 3, 4, 5}

5. Write a Python program to add an element to a set.

In [1]:
my_set = {1, 2, 3, 4, 5}

my_set.add(6)
print("set after adding element : ",my_set)

set after adding element :  {1, 2, 3, 4, 5, 6}

6. Write a Python program to remove an element from a set.

In [2]:
set = {1,2,3,4,5}
set.remove(3)

print("set after remove element : ",set)

set after remove element :  {1, 2, 4, 5}

7. Write a Python program to find the difference between two sets.

In [3]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

8. Write a Python program to check if two sets are disjoint.

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have some common elements.")

The sets are disjoint.

9. Write a Python program to find the symmetric difference between two sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_diff_set = set1.symmetric_difference(set2)

print("Symmetric Difference between set1 and set2:", symmetric_diff_set)

Symmetric Difference between set1 and set2: {1, 2, 6, 7}

10. Write a Python program to check if a set is empty.

In [4]:
my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### DICTIONARY EXCERCISES

1. Write a Python program to iterate over a dictionary and print its keys and values.

In [5]:
dict = {"name":"Tabssum", "year":2023, "city":"Kolhapur"}

for key, value in dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Tabssum
Key: year, Value: 2023
Key: city, Value: Kolhapur

2. Write a Python program to check if a key exists in a dictionary.

In [8]:
dict = {1:100, 2:200, 3:300, 4:400}
key_to_check = "name"

if dict.get(key_to_check):
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'name' does not exist in the dictionary.

3. Write a Python program to get the value associated with a key in a dictionary.

In [9]:
dict = {"name":"Tabssum", "year":2023, "city":"Kolhapur"}

key_to_get = "city"
value = dict.get(key_to_get)
print(value)

Kolhapur

4. Write a Python program to remove a key from a dictionary.

In [14]:
dict = {"name":"Tabssum", "year":2023, "city":"Kolhapur"}

dict.pop("year")
print(dict)

{'name': 'Tabssum', 'city': 'Kolhapur'}

5. Write a Python program to sort a dictionary by its values.

In [15]:
dict = {"John":90, "Lisa":80, "Sid":56}
sv = sorted(dict.items(), key = lambda x : x[1])
print(sv)

[('Sid', 56), ('Lisa', 80), ('John', 90)]

6. Write a Python program to merge two dictionaries.

In [3]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

7. Write a Python program to count the frequency of each element in a dictionary.

In [4]:
my_dict = {"apple": 3, "banana": 1, "cherry": 2, "date": 3, "date":3}
frequency_dict = {}

for key, value in my_dict.items():
    if key in frequency_dict:
        frequency_dict[key] += value
    else:
        frequency_dict[key] = value

for key, value in frequency_dict.items():
    print(f"{key}: {value}")

apple: 3
banana: 1
cherry: 2
date: 3

In [7]:
# counting freq. of list using dict

num1 = [1,1,2,3,2,5,7,5]
dict1 = {}

for num in num1:
    if num in dict1:
        dict1[num] = dict1[num]+1
    else:
        dict1[num] = 1
        
dict1

{1: 2, 2: 2, 3: 1, 5: 2, 7: 1}

8. Write a Python program to find the length of a dictionary.

In [8]:
sample_dict = {"product":"laptop", "price":60000, "quantity":2}
print(len(sample_dict))

3

9. Write a Python program to check if a dictionary is empty.

In [9]:
a = {}

if not a:
    print("The dictionary is empty.")
else:
    print("The dictionary is not empty.")

The dictionary is empty.

10. Write a Python program to find the keys with the maximum and minimum values in a dictionary.

In [11]:
dict1 = {'Physics':80, 'Maths':99, 'History':75}
min_key = []
max_key = []

print(min(dict1,key = dict1.get))
print(max(dict1,key = dict1.get))

History
Maths

### RANGE EXCERCISES

1. Write a Python program to iterate over a range of numbers and print them.

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to find the sum of all numbers in a range.

In [14]:
start_num = int(input("enter start number : "))
end_num = int(input("enter end number : "))

total_sum = 0
for num in range(start_num, end_num+1):
    total_sum = total_sum+num
print(total_sum)

enter start number : 1
enter end number : 5
15

3. Write a Python program to print all even numbers in a given range.

In [15]:
for number in range(2,20):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18

4. Write a Python program to print all odd numbers in a given range.

In [19]:
for num in range(1,20):
    if num % 2 != 0:
        print(num)

1
3
5
7
9
11
13
15
17
19

5. Write a Python program to find the average of all numbers in a range.

In [3]:
total_sum = 0
count = 0

for number in range(1,11):
    total_sum += number
    count += 1

average = total_sum / count

print(average)

5.5

6. Write a Python program to check if a number is present in a given range.

In [4]:
start = 1
end = 11
number_to_check = 5

if start <= number_to_check < end:
    print(f"{number_to_check} is present in the range.")
else:
    print(f"{number_to_check} is not present in the range.")

5 is present in the range.

7. Write a Python program to reverse a range of numbers and print them.

In [5]:
for number in range(10, 1, -1):
    print(number)

10
9
8
7
6
5
4
3
2

8. Write a Python program to find the product of all numbers in a range.

In [9]:
product = 1
for num in range(1,5):
    product *= num
    
print(product)

24

9. Write a Python program to print the squares of all numbers in a range.

In [12]:
for number in range(1,6):
    square = number ** 2
    print(f"The square of {number} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

10. Write a Python program to print the cube of all numbers in a range.

In [13]:
for number in range(1,6):
    cube = number ** 3
    print(f"The cube of {number} is {cube}")

The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125

###  IF ELSE LOOP EXERCISES

1. Write a Python program to check if a number is positive, negative, or zero.

In [14]:
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 2
The number is positive.

2. Write a Python program to check if a number is even or odd.

In [15]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 7
The number is odd.

3. Write a Python program to check if a year is a leap year or not.

In [18]:
year = 1996

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

1996 is a leap year.

4. Write a Python program to find the maximum of three numbers using if-else.

In [6]:
num1 = 130
num2 = 11
num3 = 29

maximum = num1

if num2 > maximum:
    maximum = num2
elif num3 > maximum:
    maximum = num3
else:
    maximum = num1

print(f"The maximum of {num1}, {num2}, and {num3} is: {maximum}")

The maximum of 130, 11, and 29 is: 130

5. Write a Python program to check if a number is prime.

In [8]:
num = int(input("enter a number : "))
if num == 1:
    print(num, "is not prime number")
if num>1:
    for n in range(2,num):
        if num % n == 0:
            print(num, "is not prime number")
            break
    else:
        print(num, "is prime number")

enter a number : 12
12 is not prime number

6. Write a Python program to check if a number is divisible by both 3 and 5.

In [10]:
num = int(input("Enter a number:"))

if num % 3 == 0 and num % 5 == 0:
    print(f"{num} is divisible by both 3 and 5.")
else:
    print(f"{num} is not divisible by both 3 and 5.")

Enter a number:12
12 is not divisible by both 3 and 5.

7. Write a Python program to check if a character is a vowel or consonant.

In [14]:
ch = input("enter the alphabet : ")

if ch in ('a','e','i','o','u','A','E','I','O','U'):
    print(ch, "is a vowel")
else:
    print(ch, "is a consonant")

enter the alphabet : T
T is a consonant

8. Write a Python program to check if a given string is a palindrome using if-else.

In [18]:
string = input("enter a string : ")
cleaned_string = string.replace(" ", "").lower()


if cleaned_string == cleaned_string[::-1]:
    print(string, "is a palidrome")
else:
    print(string, "is not palidrome")

enter a string : Naman
Naman is a palidrome

9. Write a Python program to determine the largest among three numbers using nested if-else.

In [19]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

if a>b:
    if a>c:
        print(a, "is largest")
    else:
        print(c, "is largest")
else:
    if b>c:
        print(b, "is largest")
    else:
        print(c, "is largest")

Enter a: 10
Enter b: 50
Enter c: 4
50.0 is largest

10. Write a Python program to check if a triangle is equilateral, isosceles, or scalene based on its side lengths using if-else.

In [ ]:
x = float(input("Enter first side: "))
y = float(input("Enter second side: "))
z = float(input("Enter third side: "))

if x + y > z and x + z > y and y + z > x:
    if x == y == z:
        print("It's an equilateral triangle.")
    elif x == y or y == z or z == x:
        print("It's an isosceles triangle.")
    else:
        print("It's a scalene triangle.")
else:
    print("It does not form a valid triangle.")

### FOR LOOP EXCERCISES

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to calculate the sum of all numbers in a list using a for loop.

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

total_sum = 0
for number in numbers:
    total_sum += number
print("The sum of all numbers in the list is:", total_sum)

The sum of all numbers in the list is: 55

3. Write a Python program to find the factorial of a number using a for loop.

In [6]:
num = 5
factorial = 1

for i in range(1, num + 1):
    factorial *= i
print(factorial)

120

4. Write a Python program to print all the even numbers between 1 and 50 using a for loop.

In [7]:
for number in range(1, 51):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

5. Write a Python program to iterate over a string and print each character using a for loop.

In [9]:
text = "Hello World!"

for char in text:
    print(char)

H
e
l
l
o

W
o
r
l
d
!

6. Write a Python program to iterate over a list of tuples and print each element using a for loop.

In [10]:
list_of_tuples = [(1, 'apple'), (2, 'banana'), (3, 'cherry')]

for tpl in list_of_tuples:
    for element in tpl:
        print(element)

1
apple
2
banana
3
cherry

7. Write a Python program to find the largest element in a list using a for loop.

In [12]:
num = [12, 45, 23, 67, 89, 34, 56, 78, 90]
largest = num[0]

for number in num:
    if number > largest:
        largest = number

print(largest)

90

8. Write a Python program to check if all elements in a list are even using a for loop.

In [14]:
numbers = [4, 10, 22, 36, 50, 9]

all_even = True

for number in numbers:
    if number % 2 != 0:
        all_even = False
        break

if all_even:
    print("All elements in the list are even.")
else:
    print("Not all elements in the list are even.")

Not all elements in the list are even.

9. Write a Python program to find the common elements between two lists using a for loop.

In [22]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]

for x in list1:
    for y in list2:
        if x == y:
            print("common elements are : ",x)

common elements are :  3
common elements are :  4

10. Write a Python program to calculate the sum of the digits of a number using a for loop.

In [25]:
i = int(input("Enter a number: "))

sum = 0

while (i>0):
    sum = sum + i % 10
    i = i //10

print("sum of the digits of the number is:", sum)

Enter a number: 123
sum of the digits of the number is: 6

### WHILE LOOP EXCERCISES

1. Write a Python program to print the numbers from 1 to 10 using a while loop.

In [27]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to calculate the sum of all numbers from 1 to 100 using a while loop.

In [28]:
num = 1
sum = 0
while num <= 100:
    sum += num
    num += 1
print("The sum of all numbers from 1 to 100 is:", sum)

The sum of all numbers from 1 to 100 is: 5050

3. Write a Python program to find the factorial of a number using a while loop.

In [7]:
num = 4
factorial = 1

if num < 0:
    print("factorial is not define for negative numbers")
elif num == 0:
    print("factorial for 0 is 1")
else:
    while num > 0:
        factorial = factorial*num
        num = num-1
    print("factorial number is : ",factorial)

factorial number is :  24

4. Write a Python program to print all the even numbers between 1 and 50 using a while loop.

In [8]:
number = 2

while number <= 50:
    print(number)
    number = number+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

5. Write a Python program to iterate over a string and print each character using a while loop.

In [11]:
string = "hello world"
n = len(string)
i = 0
while i<n:
    print(string[i])
    i+=1

h
e
l
l
o

w
o
r
l
d

6. Write a Python program to iterate over a list of tuples and print each element using a while loop.

In [14]:
list_of_tuple = [(1, 'apple'), (2, 'banana'), (3, 'cherry')]

n = len(list_of_tuple)
index = 0

while index < n:
    current_tuple = list_of_tuple[index]
    for element in current_tuple:
        print(element)
    index += 1

1
apple
2
banana
3
cherry

7. Write a Python program to find the largest element in a list using a while loop.

In [5]:
num_list = [2,6,9,4,1]

if not num_list:
    print("The list is empty.")
else:
    largest = num_list[0]
    index = 1

    while index < len(num_list):
        if num_list[index] > largest:
            largest = num_list[index]
        index += 1

    print(largest)

9

8. Write a Python program to check if all elements in a list are even using a while loop.

In [13]:
num_list = [3,5,7,9,1,2,4,5,8,90]

index = 0
    
while index < len(num_list):
    if num_list[index] % 2 != 0:
        all_even = False
        break
        index += 1
if all_even:
    print("all elements are even")
else:
    print("all elements are not even")

all elements are not even

9. Write a Python program to find the common elements between two lists using a while loop.

In [3]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
common = []
index1 = 0
while index1 < len(list1):
    index2 = 0
    while index2 < len(list2):
        if list1[index1] == list2[index2]:
            common.append(list1[index1])
        index2+=1
    index1 +=1

print(common)

[4, 5]

10. Write a Python program to calculate the sum of the digits of a number using a while loop.

In [4]:
num = 2345
sum_of_digits = 0
while num > 0:
    digit = num % 10
    sum_of_digits = sum_of_digits + digit
    num = num // 10
    
print(sum_of_digits)

14

### BREAK STATEMENT EXCERCISES

1. Write a Python program to find the first occurrence of a number in a list using a for loop and break statement.

In [6]:
numbers = [5, 10, 5, 20, 25, 30, 65]

target = 5
index = 0

for i in range(len(numbers)):
    if numbers[i] == target:
        index = i
        break

print(index)

0

2. Write a Python program to search for a specific element in a list using a while loop and break statement.

In [10]:
list = [10,20,30,40,50,60]
target = 20
index = 0

while index < len(list):
    if list[index] == target:
        print(f"The element {target} found at index {index}.")
        break
    index+=1

The element 20 found at index 1.

3. Write a Python program to find the prime numbers between 1 and 100 using a for loop and break statement.

In [11]:
for num in range(2, 101):
    is_prime = True

    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

4. Write a Python program to check if a number is present in a list using a while loop and break statement.

In [14]:
num = [10,20,30,40,50]
target = 200
found = False
index = 0

while index < len(num):
    if num[index] == target:
        found = True
        break
    index+=1
    
if found:
    print(f"number {target} is present in the list")
else:
    print(f"number {target} is not present in the list")

number 200 is not present in the list

5. Write a Python program to find the largest palindrome number in a given range using a for loop and break statement.

In [20]:
start = 1
end = 78
largest_palidrome = 0

for num in range(end, start -1, -1):
    num_str = str(num)
    if num_str == num_str[::-1]:
        largest_palidrome = num
        break
        
print(largest_palidrome)

77

6. Write a Python program to find the first negative number in a list using a while loop and break statement.

In [30]:
num = [3, 5, 6, 4, 8, -10]
index = 0
while index < len(num):
    if num[index] < 0:
        print(index)
        break
    index+=1
else:
    print("no negative number is found")

5

7. Write a Python program to print the elements of a list until a specific condition is met using a for loop and break statement.

In [34]:
list = [1,2,3,4,5,6,7,8]

condition = 6

for element in list:
    if element == condition:
        print(f"condition {condition} is found.")
        break
else:
    print("condition is not found")

condition 6 is found.

8. Write a Python program to search for a specific character in a string using a while loop and break statement.

In [41]:
string = ("Hii", "Hello", "Namaste")

search = "Hello"
index = 0

while index < len(string):
    if string[index] == search:
        print(f"Character '{search}' found at index {index}.")
    index+=1

Character 'Hello' found at index 1.

9. Write a Python program to find the first occurrence of a vowel in a string using a for loop and break statement.

In [53]:
string = input("Enter a string: ")

vowels = "AEIOUaeiou"

for char in string:
    if char in vowels:
        print(f"The first vowel found in the string is: {char}")
        break

else:
    print("No vowels found in the string.")

Enter a string: India
The first vowel found in the string is: I

10. Write a Python program to find the index of the first occurrence of a substring in a string using a while loop and break statement.

In [54]:
string = input("Enter a string: ")
substring = input("Enter the substring to search for: ")

index = 0

while index < len(string):
    if string[index:index + len(substring)] == substring:
        print(f"The first occurrence of '{substring}' starts at index {index}.")
        break
    index += 1
else:
    print(f"'{substring}' not found in the string.")

Enter a string: python is a easy language
Enter the substring to search for: is
The first occurrence of 'is' starts at index 7.

### CONTINUE STATMENT EXCERCISES

1. Write a Python program to print all the even numbers between 1 and 20 except for the number 10 using a for loop and continue statement.

In [1]:
for num in range(1,21):
    if num == 10:
        continue
    if num % 2 == 0:
        print(num)

2
4
6
8
12
14
16
18
20

2. Write a Python program to print the elements of a list skipping the negative numbers using a while loop and continue statement.

In [2]:
my_list = [3,-7,1,3,6,-4]
index = 0

while index < len(my_list):
    if my_list[index] < 0:
        index+=1
        continue
    print(my_list[index])
    index+=1

3
1
3
6

3. Write a Python program to print the first 10 multiples of 3 except for the number 9 using a for loop and continue statement.

In [4]:
count = 0

for num in range(1, 31):
    if num % 3 == 0 and num != 9:
        print(num)
        count += 1

    if count == 10:
        continue

3
6
12
15
18
21
24
27
30

In [6]:
count = 0

for num in range(1, 31):
    if num % 3 == 0 and num != 9:
        print(num)
        count += 1

    if count == 10:
        break

3
6
12
15
18
21
24
27
30

4. Write a Python program to iterate over a string and print only the consonants using a for loop and continue statement.

In [9]:
string = "Hello World!"

for char in string:
    if char in "aeiouAEIOU":
        continue
    print(char)

H
l
l

W
r
l
d
!

5. Write a Python program to print the elements of a list skipping the even numbers using a while loop and continue statement.

In [15]:
my_list = [2, 3, 4, 5, 6, 7, 8, 9]
index = 0

while index < len(my_list):
    if my_list[index] % 2 == 0:
        index += 1
        continue
    print(my_list[index])
    index += 1

3
5
7
9

6. Write a Python program to find the sum of all numbers between 1 and 100, excluding the multiples of 5 using a for loop and continue statement.

In [19]:
sum = 0

for num in range(1,101):
    if num % 5 == 0:
        continue
    sum+=num
    
print("The sum of numbers between 1 to 100 (excluding multiples of 5) is: ", sum)

The sum of numbers between 1 to 100 (excluding multiples of 5) is:  4000

7. Write a Python program to print the uppercase letters in a string using a while loop and continue statement.

In [5]:
string = "Hello WoRld!"
index = 0

while index < len(string):
    char = string[index]
    if not char.isupper():
        index += 1
        continue
    print(char)
    index += 1

H
W
R

8. Write a Python program to print the elements of a list skipping the elements divisible by 3 using a for loop and continue statement.

In [1]:
list = [1,2,3,4,5,6,7,8,9,10]
for element in list:
    if element % 3 == 0:
        continue
    else:
        print(element)

1
2
4
5
7
8
10

9. Write a Python program to iterate over a list of tuples and print only the tuples with a specific condition using a while loop and continue statement.

In [8]:
list_of_tuples = [(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

index = 0

while index < len(list_of_tuples):
    current_tuple = list_of_tuples[index]
    
    if sum(current_tuple) % 2 != 0:
        index+=1
        continue
        
    print(current_tuple)
    index += 1

10. Write a Python program to print the numbers from 1 to 50, skipping the multiples of 7 using a for loop and continue statement.

In [6]:
for number in range(1, 51):
    if number % 7 == 0:
        continue
    else:
        print(number)

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50